<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Engineering journal</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
     <a href="/" id="navbar-brand" class="navbar-brand">
        <svg width="111" height="147" viewBox="0 0 111 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M72.776 101H0.199997L0.487997 99.272C5.288 99.272 8.792 98.36 11 96.536C13.4 94.52 14.6 85.16 14.6 68.456V32.744C14.6 22.472 14.264 15.464 13.592 11.72C13.016 7.87999 12.152 5.47998 11 4.51999C8.792 2.69599 5.288 1.78399 0.487997 1.78399L0.199997 0.199982H67.448V20.936L65.72 20.648C65.72 14.216 62.312 9.75199 55.496 7.25599C48.776 4.75998 38.456 3.51198 24.536 3.51198V48.872C33.752 48.872 40.376 48.392 44.408 47.432C48.44 46.472 51.032 45.032 52.184 43.112C53.336 41.096 53.912 37.784 53.912 33.176L55.496 32.888V67.88L53.912 67.592C53.912 62.888 53.336 59.576 52.184 57.656C51.032 55.736 48.44 54.344 44.408 53.48C40.376 52.52 33.752 52.04 24.536 52.04V70.616C24.536 80.792 24.872 87.56 25.544 90.92C26.312 94.28 27.944 96.536 30.44 97.688C57.512 97.688 71.048 91.928 71.048 80.408L72.776 80.12V101Z" fill="#ACA02E"/>
        <path d="M70.888 146.44C64.84 146.44 59.656 144.664 55.336 141.112C51.112 137.464 49 133.768 49 130.024C49 128.2 49.528 126.712 50.584 125.56C51.64 124.408 53.176 123.832 55.192 123.832C57.208 123.832 58.696 124.84 59.656 126.856C60.616 128.872 61.144 131.08 61.24 133.48C61.336 135.88 62.152 138.088 63.688 140.104C65.32 142.12 67.912 143.128 71.464 143.128C81.352 143.128 86.296 135.496 86.296 120.232V76.744C86.296 62.44 85.576 53.752 84.136 50.68C82.984 47.992 80.872 46.456 77.8 46.072C76.456 45.88 74.632 45.784 72.328 45.784L72.04 44.2H110.776L110.488 45.784C105.688 45.784 102.184 46.696 99.976 48.52C97.576 50.536 96.376 59.944 96.376 76.744V113.464C96.376 119.224 95.8 124.216 94.648 128.44C93.496 132.664 92.104 135.928 90.472 138.232C88.936 140.44 86.92 142.216 84.424 143.56C81.928 144.808 79.672 145.576 77.656 145.864C75.736 146.248 73.48 146.44 70.888 146.44Z" fill="#1F6B04"/>
        </svg>
    </a>
    <ul class="navbar-nav mx-auto position-relative p-4">
        <li class="nav-item">
            <a href="/" class="nav-link">home</a>
        </li>
        <li class="nav-item">
            <a href="/services" class="nav-link">services</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link">login</a>
        </li>
        <li class="nav-item">
            <a href="/signup" class="nav-link">signup</a>
        </li>
    </ul>
    </nav>
    <div id="menu-button">
        <ul>
            <li id="topic"></li>
            <li id="comment"></li>
        </ul>
    </div>
</body>
</html>